---
layout: default
---
<p>
  Welcome to the blog of the Raha developers. We will be posting our learnings about software development
  here as they occur. Thanks for visiting!
</p>
<ul>
  {% for post in site.posts %}
    <li>
      {% assign author=site[post.author] %}
      {% if author %}
        {% assign authorName = author.name %}
      {% else %}
        {% assign authorName = site.default_author.name %}
      {% endif %}

      {% comment %} TODO: link author separately to filter by author {% endcomment %}
      <a href="{{ post.url }}">{{ post.title }}, by {{ authorName }}</a>
    </li>
  {% endfor %}
</ul>
